In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import math
import random
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.utils import column_or_1d 
from sklearn import metrics

ModuleNotFoundError: No module named 'statsmodels'

In [2]:
derma_ds = pd.read_csv('C:/Users/welcome/Desktop/ML/Mod4/dermatology.data',header=None)
derma_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 35 columns):
0     366 non-null int64
1     366 non-null int64
2     366 non-null int64
3     366 non-null int64
4     366 non-null int64
5     366 non-null int64
6     366 non-null int64
7     366 non-null int64
8     366 non-null int64
9     366 non-null int64
10    366 non-null int64
11    366 non-null int64
12    366 non-null int64
13    366 non-null int64
14    366 non-null int64
15    366 non-null int64
16    366 non-null int64
17    366 non-null int64
18    366 non-null int64
19    366 non-null int64
20    366 non-null int64
21    366 non-null int64
22    366 non-null int64
23    366 non-null int64
24    366 non-null int64
25    366 non-null int64
26    366 non-null int64
27    366 non-null int64
28    366 non-null int64
29    366 non-null int64
30    366 non-null int64
31    366 non-null int64
32    366 non-null int64
33    366 non-null object
34    366 non-null int64
dtypes: int64(34), object(1)
memory usage: 100.2+ KB

In [3]:
derma_ds[33] = pd.to_numeric(derma_ds[33], errors='coerce').fillna(0).astype(int)
derma_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 35 columns):
0     366 non-null int64
1     366 non-null int64
2     366 non-null int64
3     366 non-null int64
4     366 non-null int64
5     366 non-null int64
6     366 non-null int64
7     366 non-null int64
8     366 non-null int64
9     366 non-null int64
10    366 non-null int64
11    366 non-null int64
12    366 non-null int64
13    366 non-null int64
14    366 non-null int64
15    366 non-null int64
16    366 non-null int64
17    366 non-null int64
18    366 non-null int64
19    366 non-null int64
20    366 non-null int64
21    366 non-null int64
22    366 non-null int64
23    366 non-null int64
24    366 non-null int64
25    366 non-null int64
26    366 non-null int64
27    366 non-null int64
28    366 non-null int64
29    366 non-null int64
30    366 non-null int64
31    366 non-null int64
32    366 non-null int64
33    366 non-null int32
34    366 non-null int64
dtypes: int32(1), int64(34)
memory usage: 98.8 KB

In [4]:
x = derma_ds.iloc[:,0:34].values
y = derma_ds.iloc[:, 34].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)
x_train[1:10]
#x_train[22]
#x_train.columns.tolist()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
1,2,2,0,2,0,0,0,0,0,0,...,0,0,0,3,0,0,0,2,0,47
2,1,1,0,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2,0,18
3,2,2,0,2,1,0,0,0,0,0,...,0,0,0,3,0,0,0,3,0,70
4,2,2,1,2,0,0,0,0,0,0,...,0,0,0,2,0,0,0,2,0,27
5,2,2,2,0,0,0,0,0,2,2,...,0,3,0,0,0,0,0,3,0,36
6,3,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,34
7,3,3,1,2,0,0,0,0,0,1,...,0,0,0,2,0,0,0,1,0,22
8,2,0,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,56
9,2,2,1,2,0,0,0,0,0,0,...,0,0,0,2,0,0,0,1,0,33

In [33]:
#FORWARD ELIMINATION
significant_val = 0.05
initial_feature = x_train.columns.tolist()
best_feature = []
while(len(list(initial_feature)) > 0):
    rem_feature = list(set(initial_feature)-set(best_feature))
    new_pval = pd.Series(index=rem_feature)
    for new_col in rem_feature:
        #model = LogisticRegression()
        #model.fit(x_train[best_feature + [new_col]],y_train)
        #new_accuracy[new_col] = model.score(x_test[best_feature + [new_col]],y_test)
        model = sm.OLS(y_train, sm.add_constant(x_train[best_feature+[new_col]]))
        result = model.fit()
        new_pval[new_col] = result.pvalues[new_col]
    print(new_pval.min(),new_pval.idxmin())
    if(new_pval.min() < significant_val):
        best_feature.append(new_pval.idxmin())
    else:
        model = sm.OLS(y_train, sm.add_constant(x_train[best_feature]))
        result = model.fit()
        print('R2: ', result.rsquared)
        break
best_feature

C:\Users\welcome\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

3.7390451252952154e-41 19
3.5246835235750817e-23 14
1.889159490156807e-31 30
7.658831227217663e-14 13
1.72337714105029e-06 1
2.8840275942307597e-05 21
3.041181240653235e-06 3
0.0007968358433359876 4
0.001746878875112611 6
0.010991555212143565 12
0.02299305503198938 29
0.05079192518331523 15
R2:  0.8774033203444814

[19, 14, 30, 13, 1, 21, 3, 4, 6, 12, 29]

In [16]:
#BACKWARD ELIMINATION
feature = x_train.columns.tolist()
while(len(list(feature)) > 0):
    #features_const = sm.add_constant(x_train[feature])
    model = sm.OLS(y_train, sm.add_constant(x_train[feature]))
    result = model.fit().pvalues[1:]
    #new_pval[new_col] = result.pvalues[new_col]
    #print(new_pval.min(),new_pval.idxmin())
    if(result.max() >= significant_val):
        excluded_feature = result.idxmax()
        feature.remove(excluded_feature)
    else:
        print(result)
        break
feature

1     2.957872e-05
3     1.544066e-06
4     1.062620e-04
6     8.841012e-04
12    1.738941e-02
13    1.354248e-12
14    1.722182e-25
15    2.248984e-02
19    7.626969e-08
21    1.964972e-07
23    3.360522e-02
29    2.612837e-02
30    7.143541e-08
dtype: float64

[1, 3, 4, 6, 12, 13, 14, 15, 19, 21, 23, 29, 30]